extends layout

block content
  .banner
    .col-12
      h1= pageHeader.title
      p= pageHeader.strapline

  .container
    #container
      #images
        .item
          img(src='https://picsum.photos/100/200?random=1')
        .item
          img(src='https://picsum.photos/200/300?random=2')
        .item
          img(src='https://picsum.photos/300/400?random=3')
        .item
          img(src='https://picsum.photos/200/100?random=4')
        .item
          img(src='https://picsum.photos/300/200?random=5')
        .item
          img(src='https://picsum.photos/400/300?random=6')

  .row
    .col-12.col-md-8

      each recipe in recipes 
        .card
          .card-block
            .card-image
            h4=  recipe.Name
            p= 'Time:' + recipe.Time
            p= 'Serves:' + recipe.Serves
            p= 'Difficulty:' + recipe.Difficulty
          
    .col-12.col-md-4
      p.lead Maybe you need something quick to whip up for dinner? <br><br> Or maybe you want to tackle Gordon Ramsay for best chef title? <br><br> The Roast House has you covered.